a:hover{
    font-weight: bold;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../media/kelly-sikkema-1484279-unsplash.jpg);
    background-repeat: no-repeat;
}
.container{
    position: absolute;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 500px;
    display: flex;
}
.container .box{
    position: relative;
    width: 250px;
    height: 250px;
    background: #ccc;
    transition: 500ms;
}
.container .box:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.container .box .thumb{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.container .box .details{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626;
}
.container .box:nth-child(1) .details{
    background: #8553cb;
}
.container .box:nth-child(2) .details{
    background: #fe8f01;
}
.container .box:nth-child(3) .details{
    background: #79d400;
}
.container .box:nth-child(4) .details{
    background: #ff3b34;
}
.container .box .details .content{
    position: absolute;
    top: calc(50% + 16px);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}
.container .box:hover .details .content{
    top: calc(50%);
}
.container .box .details .content h3{
    margin: 0;
    padding: 0;
    padding: 10px 0;
    color: #fff;
}
.container .box .details .content a{
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0);
}
.container .box:hover .details .content a{
    transform: scale(1);
}
.container .box .details .content a:hover{
    background: #fff;
    color: #262626;
}
@media (max-width: 1000px){
    body{
        overflow-x: hidden;
    }
    .container{
        width: 90%;
        margin-left: -45%;
    }
    .container .box{
        height: 250px;
        float: left;
    }
}
@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .container{
        display: initial;
    }
    .container .box{
        width: 50%;
        height: 250px;
        float: left;
    }
}
@media (max-width: 650px){
    .container .box{
        width: 100%;
        height: 250px;
        float: none;
    }
}

/* NAVBAR DESKTOP VIEW */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: rgba(0,0,0,.5);
}
.logo h1{
    color: rgba(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgba(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.threeline div{
    width: 25px;
    height: 3px;
    background-color: rgba(226, 226, 226);
    margin: 5px;
}
.threeline{
    display: none;
}
@media screen and (max-width:1000px){
    .nav-links{
        position: absolute;
        width: 100%;
        top: 8vh;
        margin: 0;
        padding: 0;
        background-color: rgba(0,0,0,.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        padding: 5px;
    }
    .nav-links li a:hover{
        font-size: 16px;
        transition: 250ms ease-in-out;
    }
    .threeline{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

.about{
    text-align: center;
}
h1{
    letter-spacing: 3px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: #000;
}
p{
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: rgba(100, 100, 100, 1);
}

/* FOOTER */

footer{
    background-color: rgba(0,0,0,.5);
    bottom: 0px;
    width: 100%;
    position: fixed;
    height: 12vh;
}
footer li{
    letter-spacing: 2px;
    color: rgba(226, 226, 226);
    font-size: 12px;
    text-align: center;
    padding: .5vh;
    list-style: none;
}
footer li a{
    text-decoration: none;
    letter-spacing: 2px;
    color: rgba(50, 50, 50);
    font-size: 12px;
}
.ft-title{
    font-size: 12px;
    color: rgba(226, 226, 226);
}